@charset "UTF-8";
body {
	font-family: 'Microsoft YaHei';
}
::-webkit-input-placeholder {
	color: #999;
}
:-moz-placeholder {
	color: #999;
}
::-moz-placeholder {
	color: #999;
}
:-ms-input-placeholder {
	color: #999;
}
.w1400 {
	width: 1400px;
	margin: 0 auto;
	overflow: hidden;
}

.top {
	width: 100%;
	min-width: 1400px;
	height: 35px;
	line-height: 35px;
	background: #017ded;
}

.top a.top-le {
	float: left;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #fff;
	margin-left: 78px;
}
.top a.top-le:hover {
	color: #fff;
}

.top .top-ri {
	float: right;
	height: 35px;
}

.top .top-ri a {
	float: left;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #fff;
}
.top .top-ri a:hover {
	color: #fff;
}

.top .top-ri span {
	float: left;
	width: 1px;
	height: 5px;
	background: url(../img/line.png) no-repeat;
	margin: 15px 15px;
}

.top .top-ri form {
	float: left;
	width: 154px;
	height: 28px;
	margin: 3px 0 0 22px;
	background: url(../img/inpbg.png) no-repeat;
	overflow: hidden;
}

.top .top-ri form input[name=searchTitle] {
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: none;
	float: left;
	margin-left: 6px;
	width: 120px;
	height: 28px;
	text-indent: 10px;
	font-size: 14px;
}

.top .top-ri form input[name=go] {
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: url(../img/sousuo.png) center center no-repeat;
	float: left;
	width: 12px;
	height: 28px;
	font-size: 0;
	cursor: pointer;
}

.flag {
	width: 100%;
	min-width: 1400px;
	position: relative;
}

/*nav----start*/
.nav {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.now {
	width: 100%;
	background: #e6f3fe;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter: alpha(opacity=90);
	height: 86px;
}

.now .left .logo1 {
	float: left;
	margin: 15px 14px 0 3px;
}

.now .left .logo2 {
	float: left;
	margin-top: 18px;
}

.now .menu {
	float: right;
	height: 86px;
	line-height: 86px;
}

.now .menu li {
	float: left;
	font-size: 22px;
	margin-right: 26px;
	position: relative;
}

.now .menu li a {
	color: #006eb6;
}

.now .menu li a:hover {
	color: #003e66;
}

.now .menu li a.se {
	color: #003e66;
}

.now .menu li i {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -7px;
	bottom: 2px;
	width: 13px;
	height: 7px;
	background: url(../img/jiao.png) no-repeat;
}

.menu2 {
	display: none;
	height: 60px;
	background: #0471bc;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter: alpha(opacity=90);
	text-align: center;
	overflow: hidden;
}

.menu2 .erji {
	float: left;
	height: 60px; }

.menu2 .erji a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin: 0 10px;
	line-height: 58px;
}

.menu2 .erji a:hover {
	border-bottom: 2px solid #fff;
}

/*banner--start*/
.banner {
	display: none;
	background: #ccc;
	height: 568px;
	min-width: 1400px;
	width: 100%; }

.main_visual {
	height: 100%;
	overflow: hidden;
	position: relative; }

.main_image {
	height: 100%;
	overflow: hidden;
	position: relative; }

.main_image ul {
	width: 9999px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0; }

.main_image li {
	float: left;
	width: 100%;
	height: 100%; }

.main_image li span {
	display: block;
	width: 100%;
	height: 100%;
	background-size: 100%; }

.main_image li a {
	display: block;
	width: 100%;
	height: 100%; }

.main_image li a img {
	display: block;
	width: 100%;
	height: 100%; }

#btn_prev, #btn_next {
	z-index: 11111;
	position: absolute;
	display: block;
	width: 50px !important;
	height: 50px !important;
	top: 50%;
	margin-top: 0px; }

#btn_prev {
	background: url(../img/hover_left.png) no-repeat left top;
	left: 0px; }

#btn_prev:hover {
	background: url(../img/hover_leftSe.png); }

#btn_next {
	background: url(../img/hover_right.png) no-repeat right top;
	right: 0px; }

#btn_next:hover {
	background: url(../img/hover_rightSe.png); }

/*foot*/
.foot_line {
	background: #00143b;
	height: 4px;
	width: 100%;
	min-width: 1400px; }

.foot {
	height: 193px;
	background: #002977;
	width: 100%;
	min-width: 1400px; }

.foot .foot-img {
	margin-top: 43px;
	float: left; }

.foot .foot_link {
	float: left;
	margin-top: 49px; }

.foot .foot_link ul {
	margin-left: 55px;
	float: left; }

.foot .foot_link li {
	float: left;
	margin-right: 10px;
	position: relative; }

.foot .foot_link a {
	font-size: 15px;
	color: #fff;
	line-height: 18px;
	display: inline-block;
}
.foot .foot_link a:hover {
	color: #fff;
}

.foot .foot_link span {
	float: left;
	height: 18px;
	width: 1px;
	background-color: #fff;
}

.foot .foot_link div {
	color: #fff;
	font-size: 15px;
	margin-top: 49px;
	margin-left: 55px; }

.foot .foot_conn {
	margin-top: 45px;
	float: left;
	margin-left: 135px; }

.foot .foot_conn p {
	color: #fff; }

.foot .foot_conn .conn {
	font-size: 22px;
	color: #fff; }

.foot .foot_conn .addr {
	margin-top: 16px;
	font-size: 14px; }

.foot .foot_conn .phone {
	margin-top: 12px;
	font-size: 14px; }

.foot .foot_conn .email {
	margin-top: 12px;
	font-size: 14px; }

.foot .foot_conn2 {
	margin-top: 83px;
	float: left;
	margin-left: 46px; }

.foot .foot_conn2 p {
	color: #fff; }

.foot .foot_conn2 .code {
	font-size: 14px; }

.foot .foot_conn2 .fax {
	margin-top: 12px;
	font-size: 14px; }